In [59]:
import pandas as pd

In [60]:
# We first take a peak at how the data looks
df = pd.read_csv('TrainOnMe.csv')
df.describe(include='all')

,Unnamed: 0,y,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,x11,x12,x13
count,5000.000000,5000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000,5000.000000,5000.000000,5000.000000,5000.000000,5000,5000.000000
unique,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,5,NaN,NaN,NaN,NaN,1,NaN
top,NaN,Tesla,NaN,NaN,NaN,NaN,NaN,NaN,EBIT/Wh,NaN,NaN,NaN,NaN,True,NaN
freq,NaN,2073,NaN,NaN,NaN,NaN,NaN,NaN,1706,NaN,NaN,NaN,NaN,5000,NaN
mean,2499.500000,NaN,199.999115,0.014573,-99.948342,-1.053022,229.938275,-121.014496,NaN,0.013802,-0.005572,11.069748,-0.377698,NaN,950.021404
std,1443.520003,NaN,1.014776,0.707570,3.169226,0.006610,1.014779,1.795108,NaN,1.209435,1.238413,2.744753,3.356351,NaN,4.986109
min,0.000000,NaN,196.519800,-2.546980,-112.554330,-1.070990,226.472260,-127.403190,NaN,-4.349350,-5.140990,0.672290,-11.232970,NaN,932.910080
25%,1249.750000,NaN,199.309460,-0.471633,-102.090328,-1.057280,229.246200,-122.232140,NaN,-0.707843,-0.740918,9.242318,-2.620452,NaN,946.660668
50%,2499.500000,NaN,199.990365,0.018090,-100.005840,-1.053280,229.930135,-120.996360,NaN,-0.009350,-0.004245,11.054340,-0.591760,NaN,950.001265
75%,3749.250000,NaN,200.703677,0.503020,-97.884070,-1.048160,230.642983,-119.815810,NaN,0.751287,0.754335,12.819480,1.796370,NaN,953.383755
max,4999.000000,NaN,203.424740,2.225160,-87.614030,-1.039130,233.358560,-115.008580,NaN,4.596640,5.464340,26.156030,11.423080,NaN,968.239710

In [61]:
df.head()

,Unnamed: 0,y,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,x11,x12,x13
0,0,Tesla,198.87357,-1.56416,-105.28502,-1.05843,228.80634,-119.57104,AI,-0.52242,-1.45859,11.59522,-0.96454,True,941.72532
1,1,Tesla,199.52698,0.54804,-97.07504,-1.04948,229.47260,-120.75295,EBIT/Wh,1.60107,-1.91971,7.66421,-3.49630,True,949.09736
2,2,SpaceX,201.17314,-0.22721,-98.97896,-1.07013,231.08207,-122.64781,Q2,0.60019,-0.19340,10.53295,-4.81560,True,956.37621
3,3,Tesla,200.14047,0.01896,-108.08573,-1.04395,230.09569,-120.48585,Q3,-1.25252,1.36110,15.50931,-1.59705,True,946.65947
4,4,TwitterX,199.80402,-0.93272,-104.79682,-1.05184,229.74889,-121.84848,EBIT/Wh,1.48921,-1.35437,11.07695,-0.67000,True,946.62167

In [62]:
df_eval = pd.read_csv('EvaluateOnMe.csv')
df_eval.describe(include='all')

,Unnamed: 0,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,x11,x12,x13
count,10000.00000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000,10000.000000,10000.000000,10000.000000,10000.000000,10000,10000.000000
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,NaN,NaN,NaN,NaN,1,NaN
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,EBIT/Wh,NaN,NaN,NaN,NaN,True,NaN
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3505,NaN,NaN,NaN,NaN,10000,NaN
mean,9999.50000,199.997318,-0.002645,-100.025924,-1.053147,229.936228,-120.996070,NaN,0.002500,0.010530,11.040249,-0.308898,NaN,949.973628
std,2886.89568,1.011032,0.706926,3.144384,0.006696,1.010979,1.812348,NaN,1.223626,1.227289,2.737558,3.407130,NaN,4.930749
min,5000.00000,196.018290,-2.951810,-113.539950,-1.071170,225.948540,-128.195370,NaN,-5.670070,-5.906490,0.075330,-12.855880,NaN,930.266680
25%,7499.75000,199.325885,-0.478058,-102.111995,-1.057450,229.263345,-122.188140,NaN,-0.737252,-0.735640,9.217065,-2.671397,NaN,946.687700
50%,9999.50000,199.982245,-0.003645,-99.986635,-1.053215,229.920655,-120.996665,NaN,-0.007065,0.008210,10.977445,-0.514695,NaN,949.961265
75%,12499.25000,200.672267,0.472470,-97.935402,-1.048310,230.610355,-119.795740,NaN,0.738465,0.740932,12.763230,1.902283,NaN,953.346275
max,14999.00000,203.786420,2.620100,-88.775580,-1.039120,233.717060,-113.852950,NaN,6.089690,6.191950,22.606890,13.206620,NaN,969.383690

In [63]:
# We make a function for fetching and polishing the data a bit
def fetch_data(file_name):
    df = pd.read_csv(file_name)
    # We get rid of the extra index column as well as feature x12 since all samples have value 'True', so it doesn't give any new information
    df = df.drop(columns=['Unnamed: 0', 'x12'])
    if file_name=='TrainOnMe.csv':
        labels = df['y']
        features = df.drop(columns=['y'])
        return labels, features
    return df

Y, X = fetch_data('TrainOnMe.csv')

In [64]:
from sklearn.model_selection import train_test_split

# Split the data into training data and testing data
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

In [65]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.decomposition import PCA
from sklearn.compose import ColumnTransformer

# Apply pca on the numerical columns and encode the categorical columns

preprocessor = ColumnTransformer(
    transformers=[('encoder', OneHotEncoder(), ['x7']),
        ('pca', PCA(), ['x1', 'x2', 'x3', 'x4', 'x5', 'x6', 'x8', 'x9', 'x10', 'x11', 'x13'])])

In [66]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import RepeatedStratifiedKFold, cross_val_score

# After trying a few classifiers, I chose the Random Forest since it got the highest avarage accuracy from the cross-validation scores
pipeline = Pipeline(steps=[('preprocessor', preprocessor),
                           ('random_forest', RandomForestClassifier(random_state=42))])

rskf = RepeatedStratifiedKFold(n_splits=5, n_repeats=10, random_state=42)

# Apply cross validation
scores = cross_val_score(pipeline, X_train, y_train, cv=rskf, scoring='accuracy')

print("Repeated Stratified Cross-Validation Scores:", scores)
print("Average Accuracy:", scores.mean())

Repeated Stratified Cross-Validation Scores: [0.83    0.82625 0.83125 0.83125 0.84625 0.83    0.8275  0.83125 0.83875
 0.8275  0.8325  0.8225  0.8275  0.83875 0.83375 0.84375 0.83125 0.82125
 0.82625 0.8325  0.815   0.83375 0.83375 0.84125 0.8425  0.8125  0.8425
 0.84    0.8225  0.83875 0.835   0.8375  0.835   0.80625 0.825   0.83625
 0.8425  0.8225  0.845   0.8375  0.8425  0.83625 0.8375  0.84375 0.82125
 0.82125 0.81875 0.8425  0.83    0.85375]
Average Accuracy: 0.8324499999999999

In [67]:
from sklearn.model_selection import RandomizedSearchCV

# Parameter distributions we randomly search over
param_dist = {
    'random_forest__n_estimators': [100, 200, 300, 500, 700, 900, 1200],
    'random_forest__max_features': ['auto', 'log2', 'sqrt'],
    'random_forest__max_depth': [None, 10, 20, 30, 50, 70, 100, 150],
    'random_forest__min_samples_split': [2, 5, 10, 20],
    'random_forest__min_samples_leaf': [1, 2, 4, 5, 10],
    'random_forest__bootstrap': [True, False]
}

# We do a randomized search to fit the parameters for random forest, cus gridsearch takes too long time.
rand_search = RandomizedSearchCV(
    estimator=pipeline,
    param_distributions=param_dist,
    n_iter=150,  # Nr of different parameter combinations tested
    scoring='accuracy', 
    cv=10,  # 10-fold cross validation
    verbose=1,
    random_state=42,
    n_jobs=-1  
)

# Fit the randomized search
rand_search.fit(X_train, y_train)

print("Best Parameters:", rand_search.best_params_)
print("Best Cross-Validation Score:", rand_search.best_score_)

Fitting 10 folds for each of 150 candidates, totalling 1500 fits

/Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages/sklearn/model_selection/_validation.py:540: FitFailedWarning:
550 fits failed out of a total of 1500.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
256 fits failed with the following error:
Traceback (most recent call last):
  File "/Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages/sklearn/model_selection/_validation.py", line 888, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
    ~~~~~~~~~~~~~^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages/sklearn/base.py", line 1473, in wrapper
    return fit_method(estimator, *args, **kwargs)
  File "/Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages/sklearn/pipeline.py", line 473, in fit
    self._final_estimator.fit(Xt, y, **last_step_params["fit"])
    ~~~~~~~~~~~~~~~~~~~~~~~~~^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages/sklearn/base.py", line 1466, in wrapper
    estimator._validate_params()
    ~~~~~~~~~~~~~~~~~~~~~~~~~~^^
  File "/Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages/sklearn/base.py", line 666, in _validate_params
    validate_parameter_constraints(
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~^
        self._parameter_constraints,
        ^^^^^^^^^^^^^^^^^^^^^^^^^^^^
        self.get_params(deep=False),
        ^^^^^^^^^^^^^^^^^^^^^^^^^^^^
        caller_name=self.__class__.__name__,
        ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
    )
    ^
  File "/Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages/sklearn/utils/_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
    ...<2 lines>...
    )
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of RandomForestClassifier must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'sqrt', 'log2'} or None. Got 'auto' instead.

--------------------------------------------------------------------------------
294 fits failed with the following error:
Traceback (most recent call last):
  File "/Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages/sklearn/model_selection/_validation.py", line 888, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
    ~~~~~~~~~~~~~^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages/sklearn/base.py", line 1473, in wrapper
    return fit_method(estimator, *args, **kwargs)
  File "/Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages/sklearn/pipeline.py", line 473, in fit
    self._final_estimator.fit(Xt, y, **last_step_params["fit"])
    ~~~~~~~~~~~~~~~~~~~~~~~~~^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages/sklearn/base.py", line 1466, in wrapper
    estimator._validate_params()
    ~~~~~~~~~~~~~~~~~~~~~~~~~~^^
  File "/Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages/sklearn/base.py", line 666, in _validate_params
    validate_parameter_constraints(
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~^
        self._parameter_constraints,
        ^^^^^^^^^^^^^^^^^^^^^^^^^^^^
        self.get_params(deep=False),
        ^^^^^^^^^^^^^^^^^^^^^^^^^^^^
        caller_name=self.__class__.__name__,
        ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
    )
    ^
  File "/Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages/sklearn/utils/_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
    ...<2 lines>...
    )
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of RandomForestClassifier must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'log2', 'sqrt'} or None. Got 'auto' instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
/Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages/sklearn/model_selection/_search.py:1103: UserWarning: One or more of the test scores are non-finite: [0.83425 0.83525     nan 0.83575 0.835   0.83375 0.83525     nan     nan
 0.832       nan     nan 0.8385  0.83125 0.8385  0.833   0.831   0.83325
     nan     nan 0.83    0.83575 0.835   0.84    0.81875     nan 0.8335
     nan     nan 0.83725 0.83925 0.824       nan 0.837   0.82    0.83925
 0.833       nan 0.83575 0.8325      nan 0.8275  0.82875     nan 0.835
 0.81825     nan 0.82525 0.8315      nan     nan 0.833   0.837       nan
 0.83025     nan     nan 0.839       nan 0.83775     nan     nan 0.82925
     nan     nan 0.829   0.82925 0.8315      nan 0.824   0.8275      nan
 0.83175 0.832   0.8385  0.831   0.82375 0.829   0.83575     nan 0.832
 0.831   0.8335  0.83425     nan     nan     nan 0.83175 0.83        nan
 0.831       nan     nan     nan     nan 0.8325      nan 0.83675 0.83125
     nan 0.8205  0.83425 0.836   0.82525 0.82375     nan 0.828   0.81775
 0.832       nan 0.8345  0.8385      nan 0.83        nan     nan 0.8295
 0.83125     nan 0.836   0.83    0.831   0.833   0.8305      nan 0.83425
     nan 0.82825 0.83725     nan 0.82825 0.82775 0.83275 0.84075     nan
     nan 0.831       nan 0.8355      nan     nan     nan 0.83725 0.83375
 0.84075     nan 0.8235  0.82375 0.829       nan]
  warnings.warn(

Best Parameters: {'random_forest__n_estimators': 900, 'random_forest__min_samples_split': 5, 'random_forest__min_samples_leaf': 1, 'random_forest__max_features': 'log2', 'random_forest__max_depth': 50, 'random_forest__bootstrap': True}
Best Cross-Validation Score: 0.8407500000000001

In [68]:
# We evaluate the best model that was found using pca on numerical data, random forest and parameter fitting with random search.

from sklearn.metrics import accuracy_score

best_model = rand_search.best_estimator_
y_pred = best_model.predict(X_test)
test_accuracy = accuracy_score(y_test, y_pred)

In [69]:
test_accuracy

0.828

In [ ]:
import numpy as np

X_eval = fetch_data('EvaluateOnMe.cvs')

y_predictions = best_model.predict(df_eval)
np.unique(y_predictions)